<div class="validation__container rounded-border">
  <div class="auth__header center-text border-box rounded-border font-md">Validate</div>
  <div class="auth__form flex-center">
    <form class="center-text">
      <label for="username" class="hidden">USERNAME</label><br>
      <input id="username" name="username" placeholder="Username:" class="auth__input-lg font-md border-box rounded-border"> <br>

      <label for="ValidationCode" class="hidden">CODE</label><br>
      <input id="ValidationCode" name="ValidationCode" placeholder="Code:" class="auth__input-lg font-md border-box rounded-border"> <br>
      <button class="auth__submit validation__submit rounded-border cursor-pointer">SUBMIT</button>

      <p class="auth__p font-sm valtidate__p">Did not receive an email?</p>
      <p class="auth__p font-xs">Click <a class="auth__link-light cursor-pointer text-decoration-none ">here</a> to resend.</p>
      <hr class="margin-top-20">
      <p class="auth__p font-sm validate__p">Here by accident?</p>
      <p><a class="auth__link-light text-decoration-none font-xs cursor-pointer" routerLink="/auth/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Go back to login</a></p>
    </form>
  </div>
</div>
