.forgot-password__container {
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  position: absolute;
  width: 250px;
  padding-bottom: 15px;
  top: 50%;
  left:50%;
  margin-top:-82px;
  margin-left:-125px;
  background: rgba(0, 0 ,0 , 0.2);
}
