.login__container {
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    position: relative;
    width: 250px;
    height: 300px;
    padding-bottom: 10px;
    background: rgba(0, 0 ,0 , 0.2);
}

.login__form {
    font-family: 'Slabo 27px', serif;
}

.login__submit:hover {
    background: white;
}

.register-text {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.login__p {
    margin-top: 10px;
}
