<div class="login__container rounded-border">
  <div class="auth__header center-text border-box rounded-border font-lg">Login</div>
  <div class="login__form flex-center">
    <form class="center-text">
      <label for="username" class="hidden">USERNAME</label><br>
      <input id="username" name="username" placeholder="Username:" class="auth__input-lg font-md border-box rounded-border"> <br>
      <label for="password" class="hidden">PASSWORD</label><br>
      <input type="password" id="password" name="password" placeholder="Password:" class="auth__input-lg font-md border-box rounded-border"> <br>
      <button class="auth__button login__submit rounded-border cursor-pointer">SUBMIT</button>
      <p class="auth__p font-sm margin-top-20">Forgot your password? Click <a class="auth__link cursor-pointer text-decoration-none primary-color">here</a>.</p>
      <hr class="margin-top-20">
      <p class="atuh__p register-text font-sm margin-top-20">Don't have an account yet?</p>
      <p class="auth__p"><a class="auth__link text-decoration-none primary-color font-xs register-link" routerLink="/auth/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Create new account</a></p>
    </form>
  </div>
</div>
