<div class="login__container rounded-border">
  <div class="auth__header center-text border-box rounded-border font-lg">Register</div>
  <div class="login__form flex-center">
    <form class="center-text">
      <label for="username" class="hidden">USERNAME</label><br>
      <input id="username" name="username" placeholder="Username:" class="auth__input-lg font-sm border-box rounded-border"><br>

      <label for="pass1" class="hidden">PASSWORD</label><br>
      <input type="password" id="pass1" name="pass1" placeholder="Password:" class="auth__input-lg font-sm border-box rounded-border"><br>

      <label for="pass2" class="hidden">PASSWORD</label><br>
      <input type="password" id="pass2" name="pass2" placeholder="Retype password:" class="auth__input-lg font-sm border-box rounded-border"><br>

      <label for="first-name" class="hidden">NAME</label><br>
      <input id="first-name" name="first-name" placeholder="Name:" class="auth__input-sm font-sm border-box rounded-border">
      <label for="last-name" class="hidden">SURNAME</label>
      <input id="last-name" name="last-name" placeholder="Surname:" class="auth__input-sm font-sm border-box rounded-border"><br>

      <label for="email" class="hidden">USERNAME</label><br>
      <input type="email" id="email" name="email" placeholder="Email:" class="auth__input-lg font-sm border-box rounded-border"> <br>

      <button class="auth__button login__submit rounded-border cursor-pointer">SUBMIT</button>
    </form>
  </div>
</div>
